* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navIcon img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.navBar {
  height: 25vh;
  width: 100%;
}

.navTop {
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00347d;
  padding: 5px;
}

.contact {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBtn {
  background-color: #00347d;
  color: aliceblue;
  width: 15%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.7s;
}

.navBtn:hover {
  background-color: aliceblue;
  color: #00347d;
  transition: 0.7s;
}

.shipping {
  color: aliceblue;
  padding: 10px;
}

.icons {
  background-color: #00347d;
  height: 80%;
}

.navIcon {
  height: 100%;
}

.navLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 50%;
}

.navBottom {
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  background-color: #00347d;
  align-items: center;
}

.categories-btn {
  height: 80%;
  width: 9%;
  color: aliceblue;
  background-color: #00347d;
  transition: 0.7s;
  border-radius: 10px;
}

.categories-btn:hover {
  background-color: aliceblue;
  color: #00347d;
  transition: 0.7s;
}

@media screen and (max-width: 1000px) {
  .navBtn {
    font-size: 10px;
  }
  .shipping {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  .navBtn {
    font-size: 7px;
  }
}

@media screen and (max-height: 500px) {
  .categories-btn {
    font-size: 10px;
  }
}

@media screen and (max-height: 300px) {
  .categories-btn {
    font-size: 7px;
  }
}

.footer {
  height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #486082;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  height: 80%;
  width: 15%;
}
.usefulLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 80%;
  width: 15%;
}
.siteMap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 80%;
  width: 15%;
}

.socialMediaIcon {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 25%;
  width: 100%;
}

.socialMediaIcon > img {
  height: 100%;
  width: 23%;
  object-fit: cover;
  margin-right: 10px;
}

@media screen and (max-width: 700px) {
  .social {
    font-size: 10px;
  }
  .usefulLinks {
    font-size: 10px;
  }
  .siteMap {
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  .social {
    font-size: 5px;
  }
  .usefulLinks {
    font-size: 5px;
  }
  .siteMap {
    font-size: 5px;
  }
  img {
    display: none;
  }
}
